.main1{
    background-image: url('https://rukminim2.flixcart.com/image/850/1000/jqmnv680/poster/t/c/a/medium-pwl-gym-boxing-black-white-wall-poster-13-19-inches-matte-original-imaek7vyb34txyub.jpeg?q=90&crop=false');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.main2{
    background-color: rgb(169, 166, 166);
    border-radius: 50px;
    width: 500px;
    height: 500px;
    margin-left: 550px;
    margin-top:180px;

}
.h11{
    padding-top: 15px;
}
.in{
    border-radius: 10px;
    height: 20px;
    width: 200px;
    margin-left: 30px;
}
.butt{
    width: 200px;
    height: 50px;
    color: white;
    background-color:black;
    border: none;
    border-radius: 20px;
}
.in1{
    padding-left: 30px;
}

.butt{
    margin-top: 60px;
}